
.title{
	text-align:center;
	line-height:1/*行間*/
}
h1{
 font-size:45px;
	line-height:1.5/*行間*/ 
}
h2{
 font-size:38px;
 line-height:0.8;
}
.top{
	display: flex;
	margin:60px auto;
}

#ru-ru{
	position:relative;/*相対位置*/
	top:30px;
	left:100px;
	font-size:24px;
	width:850px; /*枠の幅*/
	height:320px;
	padding:10px; /*枠内の余白*/
	text-align:center; /*真ん中*/
	background: #eeeeee; /*背景色*/
	border:solid 4px #CCCCCC; /*枠の線、色*/
	margin :10px auto; /*上下の余白20px、左右は真ん中よせ*/
	border-radius: 10px; /*角を丸く*/
	}

#im1{
	position:relative;/*相対位置*/
	top:100px;
	right:40px;
	text-align:center;/*下の文字*/
	font-size:18px;
	line-height:0.5
}

#comment{
	margin :30px auto;
	font-size:30px;
	text-align:center; 
	
}
	
.bu1{
  display: flex;/*水平*/
  
}

.bu2{
  display: flex;
  
}

	

#button1,#button2,#button3,#button4,#button5,#button6,#button7{
	font-size:35px;
	width:400px; /*枠の幅*/
	padding:5px; /*枠内の余白*/
	text-align:center;
	background: #eeeeee; /*背景色*/
	border:solid 8px #cccccc; /*枠の線、色*/
	margin :10px auto; /*上下の余白20px、左右は真ん中よせ*/
	border-radius: 10px; /*角を丸く*/

}





