
#qsatement{
	width:1000px;
	height:120px;
	padding :20px;
	text-align:center; /*まんなか*/
	background: #eeeeee; /*背景色*/
	border:solid 4px #CCCCCC; /*枠の線、色*/
	margin :20px auto;
	font-size:25px;
}
#anserCheck{
list-style-position:outside
text-align:center;
font-size:20px;

}