#q-count{
	font-size:20px;
	line-height:0.8
}
#q-cate{
	font-size:24px;
}

#ans1{
	font-size:65px;
	font-weight:bold;/*太字*/
	text-align:center;
	line-height:0.2
	
}

#ans2{
	font-size:26px;
	text-align:center;
	line-height:0.8
}

#ans3{
	font-size:24px;
	text-align:center;
	line-height:0.5
}

.coout{
	display: flex;
	margin:60px auto;
	
}

.coin{
	position:relative;/*相対位置*/
	left:120px;
	width:850px; /*枠の幅*/
	height:320px;/*枠の外の余白*/
	text-align:center
	padding:5px; /*枠内の余白*/
	margin :10px;/*枠外の余白*/
	text-align:center;/*真ん中*/
	background: #eeeeee; /*背景色*/
	border:solid 4px #CCCCCC; /*枠の線、色*/
	border-radius: 10px; /*角を丸く*/
}

.coin:before{/*吹き出し疑似要素*/
	content: ""; 
  	position: absolute;
  	top: 50%;
	margin-top: -12px;
 	border-left: 20px solid #eeeeee;
 	z-index: 2;
}
.coin::after {/*疑似要素*/
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #CCCCCC;
  z-index: 1;
}
#im2{
	position:relative;/*相対位置*/
	bottom:-60px;
	right:-150px;
	text-align:center;
	line-height:0.5px;

}

#come1{
	font-weight:bold;/*太字*/	
	font-size:30px;
	text-align:center;
	line-height:0.5
}

#come2{
	font-size:24px;
	text-align:center;
	line-height:1.7
}
